/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace controls "com.iblsoft.flexiweather.ogc.kml.controls.*";

controls|KMLInfoWindow
{
	backgroundColor: #666666;
	backgroundColor: 0.6;
	color: #ffffff;
}

s|Label.kmlInfoWindowHeadline
{
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
}
s|TextArea.kmlInfoWindowTextArea
{
	contentBackgroundAlpha: 0;
	color: #bbbbbb;
	font-size: 16px;
	font-weight: normal;
}

s|Button.kmlInfoWindowCloseButton
{
	color: #cc9900;
	font-size: 14px;
	font-weight: bold;
	paddingBottom:5px;
	paddingTop:5px;
	paddingLeft:15px;
	paddingRigh:15px;
}

